<div *ngIf="cartItems.length>0" class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Your Basket
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li *ngFor="let cartItem of cartItems"><a class="dropdown-item" href="#"><span class="badge bg-secondary">{{cartItem.quantity}}</span>{{cartItem.product.productName}} <span (click)="removeFromCart(cartItem.product)"  class="badge bg-secondary">Delete</span></a></li>
    <li><a class="dropdown-item" href="#">Go to Basket</a></li>
  </ul>
</div>
